@import url(https://unpkg.com/leaflet@1.9.4/dist/leaflet.css);
#map{
    margin: auto;
    padding: auto;
    width: 60%;
    min-height: 600px;
    height: 100%;
    
}

.mapa {
    align-items: center;
    margin: auto;
    padding: auto;
    display: flex;
    margin-top: 3rem;
    

}
